<main class="container my-5">
  <div class="row d-flex justify-content-center">
    <article class="about-me col-md-10 col-lg-8 col-xl-6">
      <h2 class="about-me-title">Hi, my name is Max Dmitriev</h2>

      <div class="col-12 mt-2 mb-4 about-me-image">
        <img src="/assets/photo.jpg" alt="ssss" class="rounded" />
      </div>

      <h3>About me</h3>
      <p class="about-me-text">Full Stack Web Developer</p>
    
      <p class="about-me-text">I'm self-motivated developer who likes to solve problems and optimize repetitive tasks. I am creative, easy-learning and can quickly get into interesting work.</p>

      <h3>Skills</h3>
      <p class="about-me-text">
        React / Redux / NextJS / React Native / TypeScript/ JS / HTML / CSS / SASS/ MySQL / MS SQL / PostgreSQL / MongoDB/ NodeJS / ExpressJS / Webpack/ REST / GraphQL / Axios / JSON/ OOP / S.O.L.I.D. / Git/ Bootstrap / Material UI / Materialize
      </p>

    </article>
  </div>
</main>