<main class="container my-5">
  <div class="row d-flex justify-content-center">
    <article class="contact-me col-md-10 col-lg-8 col-xl-6">
      <h2 class="contact-me-title">Contact me</h2>
    
      <form class="mt-4">
        <div class="mb-3">
          <label for="emailInput" class="form-label">Email address</label>
          <input type="email" class="form-control" id="emailInput" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="messageInput" class="form-label">Your message</label>
          <textarea class="form-control" id="messageInput" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
      </form>
    </article>
  </div>
</main>