.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  line-height: 60px;
  font-size: 48px;
}
.blog-post-title a {
  text-decoration: none;
  color: #212529;
}
.blog-post-meta {
  line-height: 20px;
  color: rgba(117, 117, 117, 1);
  font-size: 17px;
}
.blog-post-image {
  max-height: 60vh;
  min-height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-post-image img {
  max-width: 100%;
  max-height: 60vh;
}
.blog-post-text {
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  word-break: break-word;
  overflow-wrap: break-word;
  letter-spacing: -0.003em;
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
}
.blog-post-read-more {
  line-height: 20px;
  font-size: 19px;
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
}