<main class="container">
  <app-slider 
    title="Welcome to my blog"
    text="Hope you'll enjoy"
    >
  </app-slider>

  <div class="row">
    <div class="col-md-8">
      <app-posts></app-posts>
    </div>
    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <app-about-me 
          title="Max Dmitriev" 
          description="My name is Max, I'm Fullstack Web Developer" 
          location="Ukraine, Odessa"
          github="itmaxxx"
          >
        </app-about-me>
      </div>
    </div>
  </div>
</main>